<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Flowers</h1>

    <h2>Add Flower</h2>
    <form method="POST" action="/flowers">
        <label>Name:</label>
        <input type="text" name="name"><br>
        <label>Count:</label>
        <input type="number" name="count"><br>
        <label>Cost:</label>
        <input type="number" name="cost"><br>
        <input type="submit" value="Add">
        
    </form>

    <h2>Add Flower to Cart</h2>
    <form method="POST" action="/cart/items">
        <label>Flower ID:</label>
        <input type="number" name="flower_id"><br>
        <input type="submit" value="Add to cart">
    </form>

    <h2>Flower List</h2>
    <ul>
        {% for flower in flowers %}
        <li>{{ flower.name }} - Count: {{ flower.count }}, Cost: {{ flower.cost }} </li>
        {% endfor %}
    </ul>

</body>

</html>